@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	background-color: #141d26;
	font-size: 1rem;
}

/* navigation bar */
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: #141d26;
	color: white;
	z-index: 100;
}

.logo img {
	margin-left: 50px;
	margin-top: 15px;
	position: relative;
    float: left;
    width:  140px;
    height: 70px;
}

.navbar-links {
	font-weight: bold;
	font-family: 'Poppins';
}

.navbar-links ul {
	margin-right: 30em;
	padding: 0;
	display: flex;	
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	font-size: 1.3rem;
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links a:hover {
	border-bottom: 3px solid;
	border-bottom-color: #daab71;
}

.navbar-links a.active {
	border-bottom: 3px solid;
	border-bottom-color: #daab71;
}

.heading {
	line-height: 0;
	font-size: 25px;
	color: white;
	padding-top: 8%;
	text-align:center;
}

.heading p{
	font-size: 15px;
	color: white;
	text-align:center;
}


/* home */
.avatar-image img {
	float: right;
	margin-right: 20%;
	margin-top: 10%;
	height: 400px;
	width: 400px;
	border-radius: 50%;
}

.intro {
	line-height: 0.7;
	font-size: 20px;
	color: white;
	padding-top: 13%;
	margin-left: 20%;
}

.intro p{
	color: #999999;
}

.icons {
	font-size: 2em;
	margin-top: 2em;
	margin-bottom: 0.5em;
	opacity: 0.6;
}

td a, i { 
	padding-right: 0.5em;
}

.social-icon:visited {
	color: #daab71;
	text-decoration: none;
}

.btn {
	background-color: white;
	color: #141d26;
	border-color: 2px solid white;
	border: none;
	padding: 18px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Poppins';
	font-size: 20px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 18px
}

.btn:hover {
	background-color: white;
	color: #141d26;
}

.btn a:link {
	text-decoration: none;
	color: white;
}

.educational-bg {
	margin-top: 3em;
	display: grid;
	place-items: center;
  }
  
.education {
	width: min(500px, 95vw);
}
  
.education-heading {
	padding-inline-start: 4rem;
}
  
.education-heading h4 {
	font-size: 2rem;
	margin-block: 0.5rem;
}
  
.education-content {
	position: relative;
	padding: 1rem 1rem 1rem 4rem;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

.education-content h5 {
	color: #ffffe5;
	font-size: 1rem;
	margin-block: 0;
	margin-left: 2rem;
}

.education-content p {
	color: rgba(153, 153, 153, 1);
	font-size: 0.8rem;
	margin-block-start: 1rem;
	margin-block-end: 0;
	margin-left: 2rem;
}
  
.education-content .year {
	position: absolute;
	content: var(--year);
	width: 2rem;
	aspect-ratio: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
	color: white;
	border-radius: 50%;
	background-color: #daab71;
	box-shadow: inset 0 0 0 1px white;
	border: 1px solid #daab71;
	left: 1rem;
	top: 0.74rem;
}

.education-content:hover {
	background-color: rgba(230, 230, 230, 0.48);
	border-radius: 0.25rem;
}

.education-content:not(:last-child):before {
	position: absolute;
	content: "";
	width: 4px;
	background-color: #daab71;
	left: calc(2rem - 2px);
	top: 2.74rem;
	bottom: -0.74rem;
	z-index: -1;
}

.proj span {
	display: inline-block;
	width: 415px;
	height: 5px;
	background-color: #daab71;
	margin-bottom: 10px;
	margin-top: 8px;
}

.text-container i {
	font-size: 50px;
	color: #daab71;
}
  
.proj h1 {
	font-weight: 600;
	font-size: 36px;
	margin: 0 0 15px;
	color: #141d26;
}
  
.proj p {
	font-weight: 400;
	color: #999999;
}
  
.proj a {
	text-decoration: none;
	text-transform: uppercase;
	color: #141d26;
	font-weight: bold;
	font-size: 12px;
	position: relative;
	display: inline-block;
	z-index: 1;
	padding: 5px;
	left: -5px;
}
  
.proj a:hover {
	color: #141d26;
}
  
.proj a::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: calc(50%);
	left: 0;
	width: 100%;
	height: 40%;
	pointer-events: none;
	background: #daab71;
	transform: scale3d(0, 1, 1);
	transform-origin: 0% 50%;
	transition: transform 0.33s;
}
  
.proj a:hover::before {
	transform: scale3d(1, 1, 1);
	transform-origin: 0% 50%;
}
  
.proj {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 3em; 
}
  
.proj-container {
	background-color: #ffffe5;
	display: flex;
	flex-direction: column;
}
  
.proj1 img {
	object-position: center;
	height: 350px;
	border: 1px solid #ffffe5;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 0 1px 2px 0 #ffffe5;
	margin-right: 7.5em;
	margin-left: 6.5em;
}

.proj2 img {
	object-position: center;
	height: 300px;
	border: 1px solid #ffffe5;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 0 1px 2px 0 #ffffe5;
}

.proj1 img:hover,
.proj2 img:hover,
.mySlides img:hover {
	box-shadow: 0 0 2px 1px #daab71;
}

.btn-code i {
	color: #141d26;
	font-size: 18px;
}
  
@media screen and (min-width: 768px) {
	.proj-container {
	  flex-direction: row;
	  width: 100%;
	  margin-left: 50px;
	  padding: 20px;
	  border-radius: 10px;
	}
  
	.text-container {
	  margin: 0 40px;
	}
}
@media screen and (min-width: 1024px) {
	.proj-container {
	  max-width: 500px;
	}
}

.slideshow-container {
	width: 480px;
	position: relative;
}

.mySlides img {
	object-position: center;
	height: 300px;
	width: 480px;
	border: 1px solid #ffffe5;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 0 1px 2px 0 #ffffe5;
}

.slides {
    display: none;
}


